<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row mb-3">
            <div class="col text-center">
                <h2>박은진 10월 7일 실기시험 합격!!</h2>
                <img src="/img/mainImg.jpeg" style="width: 400px; height: auto;" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" onclick="location.href='/test';" style="width: 200px; height: 50px; font-size: 2rem;">가자!</button>
            </div>
        </div>
    </th:block>
</body>
</html>