<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                      문제
                    </div>
                    <div class="card-body">
                      <p class="card-text">[[${question.question}]]</p>
                      <h5 class="card-title">[[${question.answer}]]</h5>
                      <a href="#" class="btn btn-primary">정답보기</a>
                    </div>
                  </div>
            </div>
        </div>
    </th:block>
</body>
</html>