<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="testMapper">
    <resultMap id="test" type="com.eunjin.ComputerScience.test.TestVO">
        <id column="QUESTION_NUM" property="questionNum"/>
        <result column="QUESTION" property="question"/>
        <result column="ANSWER" property="answer"/>
        <result column="SHOW_QUESTION" property="showQuestion"/>
    </resultMap>

    <!--랜덤 문제 보기-->
    <select id="showQuestion" resultMap="test">
        SELECT QUESTION_NUM
            , QUESTION
            , ANSWER
        FROM IT_EXAM
        WHERE QUESTION_NUM = (
            SELECT QUESTION_NUM
            FROM (  SELECT QUESTION_NUM
                    FROM IT_EXAM
                    WHERE SHOW_QUESTION = 'Y'
                    ORDER BY DBMS_RANDOM.VALUE
                    )
            WHERE ROWNUM = 1)
    </select>

    <!--다음 문제-->
    <select id="nextQuestion" resultMap="test">
        SELECT QUESTION_NUM
            , QUESTION
            , ANSWER
        FROM IT_EXAM
        WHERE QUESTION_NUM = (
            SELECT QUESTION_NUM
            FROM (
                SELECT QUESTION_NUM
                FROM IT_EXAM
                WHERE QUESTION_NUM != #{questionNum}
                AND SHOW_QUESTION = 'Y'
                ORDER BY DBMS_RANDOM.VALUE
            )
            WHERE ROWNUM = 1 )
        AND SHOW_QUESTION = 'Y'
    </select>

    <!--문제 추가-->
    <insert id="insertQuestion">
        INSERT INTO IT_EXAM (
            QUESTION_NUM
            , QUESTION
            , ANSWER
        ) VALUES (
            (SELECT MAX(QUESTION_NUM)+1 FROM IT_EXAM)
            , #{question}
            , #{answer}
        )
    </insert>

    <!--문제 숨기기-->
    <update id="updateHide">
        UPDATE IT_EXAM
        SET SHOW_QUESTION = 'N'
        WHERE QUESTION_NUM = #{questionNum}
    </update>

    <!--문제 보이기-->
    <update id="updateShow">
        UPDATE IT_EXAM
        SET SHOW_QUESTION = 'Y'
        WHERE QUESTION_NUM = #{questionNum}
    </update>


</mapper>