<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="testMapper">
    <resultMap id="test" type="com.eunjin.ComputerScience.test.TestVO">
        <result column="QUESTION_NUM" property="questionNum"/>
        <result column="QUESTION" property="question"/>
        <result column="ANSWER" property="answer"/>
    </resultMap>

    <!--랜덤 문제 보기-->
    <select id="showQuestion" resultMap="test">
        SELECT QUESTION_NUM
            , QUESTION
            , ANSWER
        FROM IT_EXAM
        WHERE QUESTION_NUM = (
            SELECT QUESTION_NUM
            FROM (
            SELECT QUESTION_NUM
            FROM IT_EXAM
            ORDER BY DBMS_RANDOM.VALUE
            )
            WHERE ROWNUM = 1 )
    </select>

    <!--다음 문제-->
    <select id="nextQuestion" resultMap="test">
        SELECT QUESTION_NUM
            , QUESTION
            , ANSWER
        FROM IT_EXAM
        WHERE QUESTION_NUM = (
            SELECT QUESTION_NUM
            FROM (
                SELECT QUESTION_NUM
                FROM IT_EXAM
                WHERE QUESTION_NUM != #{questionNum}
                ORDER BY DBMS_RANDOM.VALUE
            )
        WHERE ROWNUM = 1 )
    </select>

    <!--문제 추가-->
    <insert id="insertQuestion">
        INSERT INTO IT_EXAM (
            QUESTION_NUM
            , QUESTION
            , ANSWER
        ) VALUES (
            (SELECT MAX(QUESTION_NUM)+1 FROM IT_EXAM)
            , #{question}
            , #{answer}
        )
    </insert>

</mapper>